@use "../style/responsive" as *;

.rendering-comp {
  padding: 20px;
  background-color: var(--gray);
  color: var(--beige);
  min-height: 100vh;
  user-select: none;

  .rendering-comp-wrapper {
    background-color: var(--gray-darkest);
    padding: 40px 25px;
    border-radius: 10px;

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        list-style: none;

        li {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            gap: 8px;
            transition: all 0.3s ease;

            a {
              text-decoration: none;
              color: inherit;
              font-size: inherit;
            }

            &:hover {
              color: var(--green);
            }
          }

          &:last-child {
            .github-icon {
              height: 50px;
              width: 50px;
              fill: var(--white);
              transition: fill 0.3s ease;

              &:hover {
                fill: var(--green);
              }
            }
          }
        }
      }
    }

    .rendering-comp-content {
      padding: 40px 25px;
      border-radius: 8px;
      background-color: var(--gray-light);
      max-width: 700px;
      margin: 0 auto;

      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;

        button {
          border: none;
          background-color: var(--gray);
          color: inherit;
          padding: 10px;
          transition: background-color 0.5s ease;

          &:first-child {
            padding-left: 15px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }

          &:last-child {
            padding-right: 15px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }

          &.active {
            background-color: var(--green);
          }
        }
      }

      .content {
        h2 {
          color: var(--blue);
          font-size: 22px;
          font-weight: 700;
          padding-bottom: 25px;
          line-height: 30px;

          & + p {
            width: 90%;
            line-height: 20px;
          }
        }

        .sub-title {
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 1px;
          padding: 20px 0px 5px;

          & + p:not(.sub-title) {
            text-indent: 25px;
            line-height: 20px;
          }
        }
      }

      .demo-box {
        background-color: var(--gray-darkest);
        padding: 20px;
        border-radius: 5px;
        min-height: 500px;
        button {
          font-weight: 600;
          border: none;
          border-radius: 8px;
          padding: 10px 18px;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:active {
            transform: translateY(5px);
          }
        }
      }
    }
  }
}

@include responsive-range(xxs, sm) {
  .rendering-comp {
    .rendering-comp-wrapper {
      .rendering-comp-content {
        .btn-wrapper {
          button {
            font-size: 14px;
          }
        }

        .content {
          h2 {
            font-size: 18px;
            line-height: 22px;
          }

          p {
            font-size: 14px;
          }
        }

        .demo-box {
          min-height: 250px;

          button {
            font-size: 14px;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}

@include responsive-range(sm, md) {
  .rendering-comp {
    .rendering-comp-wrapper {
      .rendering-comp-content {
        .demo-box {
          min-height: 350px;
        }
      }
    }
  }
}
