@use "../style/responsive" as *;

.rendering-comp {
  padding: 20px;
  background-color: var(--gray);
  color: var(--beige);
  min-height: 100vh;
  user-select: none;

  .rendering-comp-wrapper {
    background-color: var(--gray-darkest);
    padding: 40px 25px;
    border-radius: 10px;

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        list-style: none;

        li {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            gap: 8px;
            transition: all 0.3s ease;

            a {
              text-decoration: none;
              color: inherit;
              font-size: inherit;
            }

            &:hover {
              color: var(--green);
            }
          }

          &:last-child {
            .github-icon {
              height: 50px;
              width: 50px;
              fill: var(--white);
              transition: fill 0.3s ease;

              &:hover {
                fill: var(--green);
              }
            }
          }
        }
      }
    }

    .rendering-comp-content {
      padding: 40px 25px;
      border-radius: 8px;
      background-color: var(--gray-light);
      max-width: 700px;
      margin: 0 auto;

      .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;

        button {
          border: none;
          background-color: var(--gray);
          color: inherit;
          padding: 10px;
          transition: background-color 0.5s ease;
          cursor: pointer;

          &:first-child {
            padding-left: 15px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }

          &:last-child {
            padding-right: 15px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }

          &.active {
            background-color: var(--green);
          }
        }
      }

      .content {
        h2 {
          color: var(--blue);
          font-size: 22px;
          font-weight: 700;
          padding-bottom: 25px;
          line-height: 30px;

          &+p {
            width: 90%;
            line-height: 20px;
          }
        }

        .sub-title {
          text-transform: uppercase;
          font-weight: 900;
          letter-spacing: 1px;
          padding: 20px 0px 5px;

          &+p:not(.sub-title) {
            text-indent: 25px;
            line-height: 20px;
          }
        }
      }

      .demo-box {
        background-color: var(--gray-darkest);
        padding: 20px;
        border-radius: 5px;
        min-height: 500px;

        &.img-slider-comp {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;
          position: relative;

          .icon {
            position: absolute;
            height: 30px;
            width: 30px;
            cursor: pointer;

            &.icon-prev {
              top: 250px;
              left: 60px;

            }

            &.icon-next {
              top: 250px;
              right: 60px;
            }
          }

          .circle-indicators{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-top: 20px;

            .indicator{
              height: 10px;
              width: 10px;
              border-radius: 50%;
              cursor: pointer;

              &.unactive{
                background-color: var(--beige);
              }
              &.active{
                background-color: var(--blue);
              }
            }
          }
          .img-container {
            height: 300px;
            max-width: 450px;
            width: 100%;
            
            .img-wrapper{
              
              height: 300px;
              width: 100%;
              position: relative;
              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                position: absolute;
                opacity: 0;
                transition: all 1.5s ease;

                &.current-image {
                  &.active {
                    transform: translateX(0);
                    opacity: 1;
                    z-index: 2;
                  }

                  &.unactive {
                    transform: translateX(100%);
                    z-index: -4;
                  }
                }
              }
            }
          }
        }

        button {
          font-weight: 600;
          border: none;
          border-radius: 8px;
          padding: 10px 18px;
          cursor: pointer;
          transition: transform 0.3s ease;

          &:active {
            transform: translateY(5px);
          }
        }
      }
    }
  }
}

@include responsive-range(xxs, sm) {
  .rendering-comp {
    .rendering-comp-wrapper {
      .rendering-comp-content {
        .btn-wrapper {
          button {
            font-size: 14px;
          }
        }

        .content {
          h2 {
            font-size: 18px;
            line-height: 22px;
          }

          p {
            font-size: 14px;
          }
        }

        .demo-box {
          min-height: 250px;

          button {
            font-size: 14px;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}

@include responsive-range(sm, md) {
  .rendering-comp {
    .rendering-comp-wrapper {
      .rendering-comp-content {
        .demo-box {
          min-height: 350px;
        }
      }
    }
  }
}