@use "../../style/responsive" as *;

.image-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

    .icon {
        position: absolute;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 3;

        &.icon-prev {
            top: 250px;
            left: 60px;

        }

        &.icon-next {
            top: 250px;
            right: 60px;
        }
    }

    .circle-indicators {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        .indicator {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            cursor: pointer;

            &.unactive {
                background-color: var(--beige);
            }

            &.active {
                background-color: var(--blue);
            }
        }
    }

    .img-container {
        height: 300px;
        max-width: 450px;
        width: 100%;

        .img-wrapper {

            height: 300px;
            width: 100%;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
                position: absolute;
                transition: all 1.5s ease;


            }
        }
    }
}

@include responsive-range(xxs, xsm) {
    .image-slider {

        .icon {

            &.icon-prev {
                top: 150px;
                left: 0px;

            }

            &.icon-next {
                top: 150px;
                right: 0px;
            }
        }

        .circle-indicators {
            margin-top: 5px;


        }
    }
}