.scroll-indicator {
    max-height: 300px;
    overflow: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;
    }
}

.indicator-wrapper {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: var(--beige);
    overflow: hidden;
    margin-bottom: 20px;

    .indicator {
        background-color: var(--green);
        height: inherit;
    }

    button {
        font-weight: 600;
        border: none;
        border-radius: 8px;
        padding: 10px 18px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:active {
            transform: translateY(5px);
        }
    }
}