 .load-more-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-height: 500px;
     padding-bottom: 50px;
     overflow: auto;

     .products {
         display: flex;
         flex-wrap: wrap;
         gap: 10px;


         .product {
             flex: 1 0 calc(100% / 2 - 10px);
             background-color: var(--beige);
             border-radius: 4px;
             color: var(--gray-darkest);
             height: 250px;

             img {
                 height: 200px;
                 width: 100%;
                 object-fit: contain;
             }

             p {
                 text-align: center;
             }
         }

     }

     button {
        margin-top: 30px;
    }
}