 @use "../../style/responsive" as *;
 .load-more-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-height: 500px;
     padding-bottom: 50px;
     overflow: auto;
      &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

     .products {
         display: flex;
         flex-wrap: wrap;
         gap: 10px;


         .product {
             flex: 1 0 calc(100% / 2 - 10px);
             background-color: var(--beige);
             border-radius: 4px;
             color: var(--gray-darkest);
             height: 250px;

             img {
                 height: 200px;
                 width: 100%;
                 object-fit: contain;
             }

             p {
                 text-align: center;
             }
         }

     }

     button {
        margin-top: 30px;

        &:disabled{
            cursor: none;
        }
    }
}
@include responsive-range(xxs, xsm){
    .load-more-container {
        .products{
             .product{
                flex: 1 0 100%;
             }
        }
    }
}
@include responsive-range(xsm, sm){
    .load-more-container {
        .products{
             .product{
                p {
                 padding: 0px 10px;
             }
             }
        }
    }
}