.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        input {
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 5px;
            border: 3px solid transparent;
            font-size: 13px;
            max-width: 250px;
            width: 100%;

            &.error {
                border: 3px solid var(--red);
            }
        }
    }

    .qr-code-container {
        background-color: var(--beige);

        #qr-code-val {
            padding: 30px;
            max-width: 500px;
            width: 100%;
        }
    }
}