@use "../../style/responsive" as *;

.qr-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;

        input {
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 5px;
            border: 3px solid transparent;
            font-size: 13px;
            max-width: 250px;
            width: 100%;

            &.error {
                border: 2px solid var(--red);
            }
        }
        button{
            font-weight: 600;
            border: none;
            border-radius: 8px;
            padding: 10px 18px;
            cursor: pointer;
            transition: transform 0.3s ease;

            &:active {
              transform: translateY(5px);
            }
        }
    }

    .qr-code-container {
        background-color: var(--beige);

        #qr-code-val {
            padding: 30px;
            max-width: 500px;
            width: 100%;
        }
    }
}

@include responsive-range(xxs, xsm) {
    .qr-code {

    .input-container {
        input {
            padding: 10px;
            font-size: 10px;

        }
        button{
            font-size: 14px;
            padding: 8px 10px;
        }
    }

    .qr-code-container {
        background-color: var(--beige);

        #qr-code-val {
            padding: 10px;
            max-width: 500px;
            width: 100%;
        }
    }
}

}