@use "../style/responsive" as *;

.m-container {
  padding: 20px;
  background-color: var(--gray);
  color: var(--beige);
  min-height: 100vh;
  user-select: none;

  .m-container-wrapper {
    background-color: var(--gray-darkest);
    padding: 40px 25px;
    border-radius: 10px;

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 40px;
        list-style: none;

        li {
          &:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: var(--gray);
            transition: all 0.3s ease;
            position: relative;
            overflow: hidden;

            &.active {
              border-radius: 8px;
              width: 175px;
              padding: 10px 0px;
            }

            &.unactive {
              width: 50px;
              border-radius: 50%;
            }

            &:hover {
              background-color: var(--green);
            }
          }

          &:last-child {
            .github-icon {
              height: 50px;
              width: 50px;
              fill: var(--white);
              transition: fill 0.3s ease;

              &:hover {
                fill: var(--green);
              }
            }
          }
        }
      }
    }

    .hero-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 40px 0px 80px;
      gap: 30px;

      h2 {
        font-size: 36px;
        line-height: 46px;

        span {
          font-size: inherit;
          color: var(--orange);
        }
      }

      p {
        font-size: 18px;
        line-height: 22px;
        max-width: 450px;
      }

      .box {
        background-color: var(--gray);
        max-width: 300px;
        width: 100%;
        padding: 20px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        cursor: not-allowed;

        .cooking-icon {
          height: 20px;
          width: 20px;
        }
      }
    }

    .projects-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // align-items: flex-start;
      gap: 20px;

      .project-card {
        background-color: var(--gray);
        padding: 25px 25px ;
        border-radius: 8px;
        width: calc(80% / 3 - 20px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        position: relative;
        height: 200px;
        transition: transform 0.1s ease-in-out;


        &:hover {
          // box-shadow: 0 4px 10px var(--gray);
          transform: scale(1.05);

          .project-link {
            right: 20px;
            transform: scale(1.5);
          }

        }

        >h3 {
          color: var(--blue);
          font-weight: 700;
          font-size: 22px;
          line-height: 1.2;
        }

        >p {
          font-size: 14px;
          line-height: 20px;
          display: -webkit-box;
          line-clamp: 4;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .project-link {
          align-self: flex-end;
          position: absolute;
          bottom: 15px;
          right: 30px;
          transition: right 0.3s ease-in-out, transform 0.3s ease-in-out;

          .arrow-icon {
            height: 20px;
            width: 20px;
            fill: var(--blue);
            transition: all 0.3s ease;

            &:hover {
              fill: var(--white);
            }

            // &:active {
            //   // transform: translateX(20px);
            // }
          }
        }
      }
    }

    .info-section {
      padding: 20px;
      background-color: transparent;
      max-width: 450px;
      width: 100%;
      margin: 50px auto 0px;
      border: 1px solid var(--gray);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h2 {
        font-size: 28px;
        padding-bottom: 25px;
      }

      p {
        background-color: var(--gray);
        padding: 6px 12px;
        border-radius: 8px;
        line-height: 22px;
        transition: all 0.3 ease;

        &:hover {
          background-color: var(--yellow);
          color: var(--gray);
        }
      }
    }
  }

  footer {
    background-color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-align: center;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 5px;
    }

    .copy-icon {
      margin-right: 2px;
      fill: var(--blue);
    }

    .heart-icon {
      margin-left: 2px;
      fill: var(--pink);
    }
  }
}

@include responsive-to(xl) {
  .m-container {
    .m-container-wrapper {
      .projects-section {
        .project-card {
          width: calc(100% / 2 - 20px);

          >p{
            display: -webkit-box;
          line-clamp: 3;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          }
        }
      }
    }
  }
}

@include responsive-range(xxs, sm) {
  .m-container {
    .m-container-wrapper {
      .hero-section {
        padding-bottom: 40px;
      }

      .projects-section {
        .project-card {
          width: 100%;
        }
      }
    }
  }

  footer {
    p {
      font-size: 14px;
    }
  }
}

@include responsive-range(xxs, xs) {
  .m-container {
    footer {
      p {
        font-size: 12px;
      }
    }
  }
}