@use "../../style/responsive" as *;

.scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-height: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    >h2 {
        font-size: 20px;
        font-weight: 600;
    }

    >button {
        align-self: center;
    }

    >ul {
        padding-left: 20px;

        li {
            padding-bottom: 10px;
            line-height: 1.4;
        }
    }
}

@include responsive-range(xxs, xsm) {
    .scroll {
        >h2 {
            line-height: 1.6;
            font-size: 16px;
        }

        >ul {
            li {
                padding-bottom: 10px;
                line-height: 1.4;
                font-size: 12px;
            }
        }
    }
}