@use "../../style/responsive" as *;

.star-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .stars {
        font-size: 50px;
    }

    .active {
        color: gold;
    }
}

@include responsive-range(xxs, sm) {
    .star-rating {
        align-content: flex-start;

        .stars {
            font-size: 30px;
        }
    }
}