.tree-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;

    .menu-list-container {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &:not(:first-child) {
            padding-left: 20px;
            margin-top: 15px;
        }

        .menu-item {
            span {
                padding-left: 5px;
                cursor: pointer;
            }

        }
    }

}