.tabs-container {
    
    .tabs-wrapper {
        margin-top: 30px;
        border: 1px solid var(--beige);
        border-radius: 5px;
        overflow: hidden;

        .heading {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: center;
            background-color: var(--green);

            div {
                flex: 1 0 100px;
                padding: 10px 18px;
                background-color: var(--green);
                cursor: pointer;


                &.active {
                    background-color: var(--gray-darkest);
                    cursor: default;
                    border-bottom: 1px solid var(--green)
                }
            }
        }

        .content {
            padding: 10px;
            min-height: 200px;
            div{
                line-height: 1.5;
            }
        }
    }
}