.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .modal {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba($color: #000000, $alpha: 0.6);
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;

        .content {
            position: relative;
            background-color: var(--gray-light);
            color: var(--beige);
            min-height: 250px;
            min-width: 300px;
            border-radius: 5px;
            padding: 15px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            .header {
                display: flex;
                align-items: flex-start;

                span {
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    font-size: 35px;
                    cursor: pointer;
                }

                h2 {
                    font-size: 18px;
                    color: var(--beige);
                }
            }
            .body{
                p{
                    line-height: 1.6;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                ul{
                    padding-left: 20px;
                    li{
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}