@use "../../style/responsive" as *;

.github-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    min-height: 350px;
    overflow: auto;

    .input-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        >input {
            border: none;
            outline: none;
            border-radius: 2px;
            font-size: 14px;
            padding: 10px 15px;
            max-width: 230px;
            width: 100%;
        }

        >button {
            border: none;
            padding: 10px 14px;
            border-radius: 4px;
            font-weight: 600;
            transition: transform 0.3s ease-in-out;
            cursor: pointer;

            &:active {
                transform: translateX(5px);
            }
        }
    }

    .profile-wrapper {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .avatar {
            height: 120px;
            width: 120px;
            border-radius: 60px;
            object-fit: cover;
        }

        >h2 {
            font-size: 20px;
            color: var(--green);
            font-weight: 600;
            line-height: 1.5;
        }

        >p {
            line-height: 1.5;
            text-align: center;
        }

        >.profile-stats {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 40px;
            gap: 25px;
            background-color: #fff;
            border-radius: 2px;

            >.stat-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 18px;
                padding: 10px;
                background-color: #e1e1e1;
                height: 100px;
                width: 100px;
                color: #a1a1a1;
                border-radius: 4px;
                transition: transform 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                >.stat-label {
                    font-weight: 600;
                }

                >.stat-value {
                    font-size: 25px;
                    color: var(--green);
                }
            }
        }

    }
}

@include responsive-range(xxs, xsm) {}