 .github-profile-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
     min-height: 350px;
     overflow: auto;

     .input-wrapper {
         display: flex;
         align-items: center;
         gap: 10px;

         input {
             outline: none;
             border: none;
             font-size: 10px;
             padding: 10px 8px;
             border-radius: 2px;
             height: 30px;
         }

         button {
             height: 30px;
             font-size: 14px;
             border-radius: 2px;
             display: flex;
             justify-content: center;
             align-items: center;
         }
     }

     .profile {
         margin-top: 45px;
         width: 100%;

         .profile-wrapper {
             width: 100%;
             display: flex;
             flex-direction: column;
             align-items: flex-start;

             .avatar {
                 height: 150px;
                 width: 150px;
                 object-fit: cover;
                 border-radius: 75px;
                 align-self: center;
                 word-break: break-all;
             }
         }
     }
 }