.search-autocomplete{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    overflow: auto;

    .input-wrapper{
        > input{
            border: none;
            outline: none;
            padding: 10px 15px;
            border-radius: 4px;
            font-size: 14px;
        }
    }
    .suggestion{
        > li{
            line-height: 1.4;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
}