.tic-tac-toe {
    display: flex;
    justify-content: center;
    align-items: center;
    .game-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .game {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .row {
                display: flex;
                align-items: center;
                gap: 10px;

                >button {
                    height: 40px;
                    width: 40px;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
        > p{
            > span{
                color: var(--green);;
                font-weight: 700;
            }
        }
        button{
            border: none;
            padding: 8px 10px;
            border-radius: 4px;
            transition: transform 0.3s ease-in-out;
            font-weight: 600;

            &:active{
                transform: translateY(10px);
            }
        }
    }
}