@use "../../style/responsive" as *;



.accordion {

  .accordion-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

    .accordion-item {
      
      background-color: var(--purple);
      border-radius: 10px;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        .icon-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding-right: 5px;

          .icon {
            position: absolute;
            transition: all 0.3s ease;

            &.hide {
              opacity: 0;
              visibility: hidden;
            }

            &.show {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      .description {
        line-height: 20px;
        font-size: 14px;
        text-indent: 20px;
        width: 95%;
        height: 0px;
        padding: 0px 10px ;
        max-height: 200px;
        overflow: hidden;
        transition: all 0.3s ease;

        &.show {
          height: 70px;
          padding: 5px 10px 10px;
        }
      }
    }
  }
}

@include responsive-range(xxs, sm) {


  .accordion {

    .accordion-list {
      .accordion-item {
        
        .title {
          h4 {
            font-size: 10px;
            max-width: 80%;
          }

          .icon-wrapper {
            .icon {
              font-size: 14px;
            }
          }
        }

        .description {
          font-size: 9px;
          line-height: 12px;

          &.show {
            overflow: auto;
            height: 100px;
          }
        }
      }
    }
  }
}

@include responsive-range(xsm, sm) {

  .accordion {
    .accordion-list {
      .accordion-item {
        .description {
          &.show {
            overflow: auto;
            height: 90px;
          }
        }
      }
    }
  }
}

@include responsive-range(sm, md) {

  .accordion {
    .accordion-list {
      .accordion-item {
        .title {
          h4 {
            font-size: 14px;
            max-width: 80%;
          }
        }

        .description {
          font-size: 12px;
          line-height: 16px;

          &.show {
            height: 60px;
          }
        }
      }
    }

  }
}